<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ntrpix">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <activity
        android:name=".MyActivity"
        android:theme="@style/LaunchTheme"
        // ...
        >
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme"
            />
        <meta-data
            android:name="io.flutter.embedding.android.SplashScreenDrawable"
            android:resource="@drawable/my_splash"
            />

        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
